<% include partials/header %>

<main>
    <section id="section-a" class="grid">

        <div class="content-wrap">
            <div class="reviews-grid">

                <div class="card shadow">
                    <img src="https://i.ibb.co/r5MLCR9/Captain-Marvel-800x400.png" alt="">
                    <div class="card-content">
                        <div class="movie-title">
                            <h3>CAPTAIN MARVEL</h3>
                        </div>
                        <div class="movie-review">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Sapiente, enim. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Sapiente, enim. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Sapiente, enim.</div>
                            <button><a href="/reviews/<%= %>">Read More</a></button>
                    </div>
                </div>

                <div class="card shadow">
                    <img src="https://i.ibb.co/s9Qx3WV/Hereditary-800x400.png" alt="">
                    <div class="card-content">
                        <div class="movie-title">
                            <h3>HEREDITARY</h3>
                        </div>
                        <div class="movie-review">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Sapiente, enim.Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Sapiente, enim.Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Sapiente, enim.iente, eni. Ipsum dolor sit amet consectetur adipisicing elit.
                            Sapiente, enim.iente, eni</div>
                            <button><a href="/reviews/<%= %>">Read More</a></button>
                    </div>
                </div>

                <div class="card shadow">
                    <img src="https://i.ibb.co/88XTcHH/A-Star-Is-Born-800x400.png" alt="">
                    <div class="card-content">
                        <div class="movie-title">
                            <h3>A Star Is Born</h3>
                        </div>
                        <div class="movie-review">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Sapiente, enim.Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Sapiente, enim.Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Sapiente, enim.</div>
                        <button><a href="/reviews/<%= %>">Read More</a></button>
                    </div>
                </div>
                <div class="card shadow">
                    <img src="https://i.ibb.co/r5MLCR9/Captain-Marvel-800x400.png" alt="">
                    <div class="card-content">
                        <div class="movie-title">
                            <h3>CAPTAIN MARVEL</h3>
                        </div>
                        <div class="movie-review">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Sapiente, enim. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Sapiente, enim. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Sapiente, enim.</div>
                            <button><a href="/reviews/<%= %>">Read More</a></button>
                    </div>
                </div>

                <div class="card shadow">
                    <img src="https://i.ibb.co/s9Qx3WV/Hereditary-800x400.png" alt="">
                    <div class="card-content">
                        <div class="movie-title">
                            <h3>HEREDITARY</h3>
                        </div>
                        <div class="movie-review">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Sapiente, enim.Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Sapiente, enim.Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Sapiente, enim.iente, eni. Ipsum dolor sit amet consectetur adipisicing elit.
                            Sapiente, enim.iente, eni</div>
                            <button><a href="/reviews/<%= %>">Read More</a></button>
                    </div>
                </div>

                <div class="card shadow">
                    <img src="https://i.ibb.co/88XTcHH/A-Star-Is-Born-800x400.png" alt="">
                    <div class="card-content">
                        <div class="movie-title">
                            <h3>A Star Is Born</h3>
                        </div>
                        <div class="movie-review">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Sapiente, enim.Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Sapiente, enim.Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Sapiente, enim.</div>
                            <button><a href="/reviews/<%= %>">Read More</a></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<% include partials/footer %>