<% include partials/header %>
<main>
    <section class="grid">
        <div class="content-wrap">
            <div id="reviews-id-masthead">
                <div id="reviews-id-masthead-img">
                    <img src="<%= foundReview.posterFull %>" alt="">
                </div>
                <div id="reviews-id-title"><%= foundReview.title %></div>
            </div>
        </div>
    </section>

    <section class="grid">
        <div class="content-wrap">
            <div class="reviews-id-grid">
                <div>
                    <div class="reviews-id-content">
                        <%= foundReview.reviewContent %>
                    </div>

                    <div class="review-btn">
                        <a href="/reviews/r/<%= foundReview._id%>/edit"><button class="edit">EDIT</button></a>
                        <form method="POST" action="/reviews/r/<%= foundReview._id %>?_method=DELETE">
                            <a href="/reviews/1"><button class="delete" type="submit">DELETE</button></a>
                        </form>
                    </div>

                </div>
                <div class="reviews-id-side-content">
                    <div>
                        <div class="reviews-id-side">
                            <div class="reviews-id-side-content-head">Release Date</div>
                            <div> <%= foundReview.releaseDate %></div>
                        </div>
                        <div class="reviews-id-side">
                            <div class="reviews-id-side-content-head">Directed By</div>
                            <div><%= foundReview.directedBy %></div>
                        </div>
                        <div class="reviews-id-side">
                            <div class="reviews-id-side-content-head">Cinematography By</div>
                            <div><%= foundReview.cinematographyBy %></div>
                        </div>
                        <div class="reviews-id-side">
                            <div class="reviews-id-side-content-head">Budget</div>
                            <div><%=  foundReview.budget %></div>
                        </div>
                        <div class="reviews-id-side">
                            <div class="reviews-id-side-content-head">Box Office</div>
                            <div><%=  foundReview.boxOffice %></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<% include partials/footer %>